.batch-upload-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 100px auto; /* Center align on the page */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.batch-submit-button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    transition: background-color 0.3s ease;
}

.batch-submit-button:hover {
    background-color: #e67e22;
}
