.ag-body-horizontal-scroll-viewport::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.ag-body-horizontal-scroll-viewport {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}

.main-page-body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.main-page-body {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
    overflow-y: scroll; /* Ensure content is still scrollable */
}
.ag-root-wrapper.ag-layout-normal {
    height: 88vh !important;
}

.ag-tooltip {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    max-width: 250px;
    white-space: pre-wrap;
}
