.application-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9; 
    padding: 20px;
    box-sizing: border-box;
    gap:50px;
}

.application-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 30px; 
}

.application-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.application-form input,
.application-form select,
.application-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.application-form textarea {
    resize: none;
    height: 100px;
}

.submit-button {
    background-color: #6e8b94; /* Muted blue-gray for a modern look */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #556e78; /* Darker shade for hover */
}

.line {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}

.line > div {
    flex: 1;
    min-width: 45%;
}

.comment-info {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #666;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-left: 10px;
}

label span {
    color: red; /* Red asterisk for required fields */
}

/* Styling for the batch upload section */
.batch-upload-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.batch-upload-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.batch-upload-container input[type="file"] {
    margin-bottom: 15px;
}

.batch-submit-button {
    background-color: #f39c12; /* Orange button */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    transition: background-color 0.3s ease;
}

.batch-submit-button:hover {
    background-color: #e67e22; /* Darker orange on hover */
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .application-form, .batch-upload-container {
        width: 90%;
    }

    .line {
        flex-direction: column;
    }

    .submit-button, .batch-submit-button {
        font-size: 0.9rem;
    }
}

html, body {
    overflow: auto;
}